
@{
    ViewData["Title"] = "Deactive";
}

<h2>This person has been deactivated!</h2>
<div>
    <a asp-action="Index" asp-controller="StudentSearch">Back to Student List</a>
</div>
<div>
    <a asp-action="Index" asp-controller="Recruiters">Back to Recruiter List</a>
</div>
<div>
    <a asp-action="Index" asp-controller="CSOs">Back to CSO List</a>
</div>
