
@{
    ViewData["Title"] = "No48";
}

<h2>The interviews should take place at least 48 hours after the application deadline for the position!</h2>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home Page</a>
</div>

