@model System.DateTime?
<form asp-action="SelectCompany" >
    <div class="form-group">
        <label>Select an Available Room:</label>
        @Html.DropDownList("SelectedRoom1", (SelectList)ViewBag.AllRooms, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Selected Date:</label>
        @Html.DropDownList("SelectedDate2", (SelectList)ViewBag.SelectedDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Next Step" class="btn btn-danger" />
    </div>
</form>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>
