@{
    ViewData["Title"] = "JobSearch";
}

<h2>Job Search</h2>
<form asp-action="DisplaySearchResults" asp-controller="Positions" method="get">
    <div class="form-group">
        <label>Search Position Title:</label>
        <input name="PositionTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label>Search Position Description:</label>
        <input name="PositionDescription" class="form-control" />
    </div>

    <div class="form-group">
        <label class="radio">@Html.RadioButton("SelectedPosition", hirelonghorn.Controllers.Classification.ALL, true)All</label>
        <label class="radio">@Html.RadioButton("SelectedPosition", hirelonghorn.Controllers.Classification.FT)Full Time</label>
        <label class="radio">@Html.RadioButton("SelectedPosition", hirelonghorn.Controllers.Classification.I)Intern</label>
    </div>

    <div class="form-group">
        <label>Search Company Name:</label>
        <input name="Company" class="form-control" />
    </div>

    <div class="form-group">
        <label>Search Industry:</label>
        <input name="Industry" class="form-control" />
    </div>

    <div class="form-group">
        <label>Search Location:</label>
        <input name="Location" class="form-control" />
    </div>

    <div class="form-group">
        <label>Select a Major:</label>
        @Html.DropDownList("Major", (SelectList)ViewBag.AllMajors, new { @class = "form-control" })
    </div>
    

    <button type="submit" class="btn btn-danger">Search</button>
</form>

