
<h1>Seed Data</h1>

<p>These buttons will seed your data!  Push them to add data to your database!!</p>

<a asp-controller="Seed" asp-action="SeedCompanies" class="btn btn-info">Seed Companies</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedMajors" class="btn btn-info">Seed Majors</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedAppUsers" class="btn btn-info">Seed Students</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedPositions" class="btn btn-info">Seed Positions</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedInterviews" class="btn btn-info">Seed Interviews</a>